.card-container {
  /* background-color: #c94b4b; */
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  box-shadow: 7px 8px 10px;
  width: 250px;
  padding: 15px 10px;
  margin: 5px;
}

.card-container > span {
  background-color: aquamarine;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: small;
}

.card-container > h2 {
  font-size: 1.3em;
  width: 80%;
  margin-top: 8px;
  margin-bottom: 10px;
}

.card-container > h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

hr {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-container > p {
  margin-bottom: 10px;
  width: 80%;
}
.btn > .update-btn {
  padding: 8px 13px;
  background-color: rgb(37, 151, 52);
  color: white;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}
.btn > .update-btn:hover {
  background-color: rgb(18, 92, 28);
  cursor: pointer;
}

.btn > .delete-btn {
  padding: 8px 13px;
  background-color: rgb(255, 80, 80);
  color: white;
  border: none;
  border-radius: 8px;
}
.btn > .delete-btn:hover {
  background-color: rgb(212, 72, 72);
  cursor: pointer;
}
