#root {
  /* max-width: 1280px;
  margin: 0;
  padding: 2rem; */
  /* margin-left: auto;
  margin-right: auto;
  display: block; */
  /* text-align: center; */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* max-width: fit-content;
  align-items: center; 
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  */

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
